aiobotocore
aiohttp
aioitertools
aiosignal
alabaster
altair
annotated-types
anyio
appdirs==1.4.4
archspec
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
asttokens
async-lru
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
bokeh
boltons
botocore
Bottleneck
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
colorcet
comm
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cytoolz
dask
dask-expr
datashader
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
distro
docstring-to-markdown
docutils
entrypoints
et-xmlfile
executing
fastjsonschema
filelock
flake8
Flask
fonttools
frozendict
frozenlist
fsspec
gensim
gitdb
GitPython
googleapis-common-protos==1.63.2
greenlet
grpcio==1.65.4
h11==0.14.0
h5py
HeapDict
holoviews
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.24.5
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jiter==0.5.0
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keyring
kiwisolver
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
marqo==3.7.0
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
more-itertools
mpmath
msgpack
multidict
multipledispatch
mypy
mypy-extensions
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
openai==1.40.8
openpyxl
overrides
packaging
pandas
pandoc==2.4
pandocfilters
panel
param
paramiko
parsel
parso
partd
pathspec
patsy
pexpect
pickleshare
pillow
pinecone==5.0.0
pinecone-client==5.0.0
pinecone-plugin-inference==1.0.2
pinecone-plugin-interface==0.0.7
pkce
pkginfo
platformdirs
plotly
pluggy
plumbum==1.8.3
ply
prometheus-client
prompt-toolkit
Protego
protobuf==4.25.4
protoc-gen-openapiv2==0.0.1
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
pydantic_core
pydeck
PyDispatcher
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyodbc
pyOpenSSL
pyparsing
PyQt5==5.15.10
PyQt5-sip
PyQtWebEngine==5.15.6
PySocks
pytest
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
python-snappy
pytoolconfig
pytz
pyviz_comms
pywavelets
pywin32==305.1
pywin32-ctypes
pywinpty
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
referencing
regex
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
Rtree
ruamel-yaml-conda
ruamel.yaml
s3fs
safetensors==0.4.4
scikit-image
scikit-learn
scipy
Scrapy
seaborn
semver
Send2Trash
sentence-transformers==3.0.1
service-identity
setuptools==69.5.1
sip
six
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack-data
statsmodels
streamlit
sympy
tables
tabulate
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers==0.19.1
toml
tomli
tomlkit
toolz
torch==2.2.0
torchaudio==2.2.0
torchvision==0.17.0
tornado
tqdm
traitlets
transformers==4.44.0
truststore
Twisted
twisted-iocpsupport
typing_extensions
tzdata
uc-micro-py
ujson
unicodedata2
Unidecode
urllib3==1.26.19
w3lib
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
whatthepatch
wheel==0.43.0
widgetsnbextension
win-inet-pton
wrapt
xarray
xlwings
xyzservices
yapf
yarl
zict
zipp
zope.interface
zstandard
